/* site-wide */
.navbar{
	z-index: 300;
}
#master-wrapper{
	padding-top: 50px; /* pad height of menubar */
	z-index: 1;
	height: 100%;
}
/* site-wide end */
/* homepage css */
#main-content{
	padding-top: 5px;
}
#home-tiles{
	margin-top:38px;
	max-height:90%;
	overflow-x:hidden;
	overflow-y:scroll;
}
#home-tiles .item{
	padding: 5px;
}
#home-tiles .item img{
	width:100%;
}
#hashtag-tiles{
	margin: 8px 0;
}
#hashtag-tiles ul{
	list-style:none;
	text-align: center;
	margin:0;
}
#hashtag-tiles ul li{
	font-family:  Trebuchet;
	font-size: 16px;
	color:#838383;
	font-weight:bold;
	display:inline;
	padding: 0 15px;
}
.row-1{
	height: 75px;
}
.row-2{
	height:150px;
}
.row-4{
	height:300px;
}
.row-1 img, .row-2 img, .row-4 img{
	height:100%;
	width:100%;
}
#events-timeline{
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	text-align:center;
	padding-left:20px;
	border-left:1px solid grey;
}
.event-wrapper-box{
	margin-bottom: 5px;
	padding:15px;
	border: solid 1px #EFEFEF;
}
.event-wrapper-box:hover{
	border: solid 1px #CCC; -moz-box-shadow: 1px 1px 5px #999; -webkit-box-shadow: 1px 1px 5px #999; box-shadow: 1px 1px 5px #999;
}
.event-wrapper-box .event-wrapper img{
	max-height: 320px;
	max-width: 280px;
}
/* homepage css end */